#
# Specify the points within the skeleton.
# Points should come either as single elements, or as left/right pairs,
# If points are supplied as left/right pairs then the fusion algorithm
# will have extra information for resolving possible left/right swaps
#
# Each point should have a name, and the 0-indexed id from the detector.
#
points = (
             (         ("FOREHEAD", 13 )               ),
             (             ("CHIN", 12 )               ),
             (   ("RIGHT_SHO",  8), ("LEFT_SHO",  9)   ),
             ( ("RIGHT_ELBOW",  7), ("LEFT_ELBOW", 10) ),
             ( ("RIGHT_WRIST",  6), ("LEFT_WRIST", 11) ),

             (   ("RIGHT_HIP",  2), ("LEFT_HIP",   3)  ),
             (  ("RIGHT_KNEE",  1), ("LEFT_KNEE",  4)  ),
             ( ("RIGHT_ANKLE",  0), ("LEFT_ANKLE", 5)  ),
         );

#
# Using the keypoint name, indicate the _parent_ of the joint. If it 
# has no parent, then it should have _itself_ as its parent.
#
hierarchy = (
                                 ( "FOREHEAD", "CHIN"  ),
                                    (  "CHIN", "CHIN"),
              ( "RIGHT_SHO",          "CHIN"), ( "LEFT_SHO",         "CHIN"),
              ( "RIGHT_ELBOW",   "RIGHT_SHO"), ( "LEFT_ELBOW",   "LEFT_SHO"),
              ( "RIGHT_WRIST", "RIGHT_ELBOW"), ( "LEFT_WRIST", "LEFT_ELBOW"),


              ( "RIGHT_HIP",          "CHIN"), ( "LEFT_HIP",        "CHIN"),
              ( "RIGHT_KNEE",    "RIGHT_HIP"), ( "LEFT_KNEE",   "LEFT_HIP"),
              ( "RIGHT_ANKLE",  "RIGHT_KNEE"), ( "LEFT_ANKLE", "LEFT_KNEE"),
              
            ); 
